{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Фото</title>{% endblock %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Фотографии деревни и окрестностей</h3>
                    <p>(Фотографии кликабельны)</p>
                </div>
            </div>
        </div>
    </div>
</div>


                <div class="col-lg-6">
                    <div class="row align-items-center">
                        <span class="long_dash"></span>
                <p>
                    <br /><a href="{% static 'img/photo/01.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/01.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/02.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/02.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/03.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/03.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/04.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/04.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/05.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/05.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/06.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/06.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/07.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/07.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/08.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/08.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/09.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/09.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/10.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/10.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/11.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/11.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/12.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/12.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/13.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/13.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/14.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/14.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/15.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/15.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/16.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/16.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/17.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/17.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/18.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/18.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/19.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/19.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/20.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/20.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/21.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/21.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/22.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/22.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/23.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/23.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/24.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/24.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/25.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/25.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/26.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/26.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/27.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/27.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/28.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/28.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/29.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/29.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/30.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/30.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/31.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/31.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/32.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/32.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/33.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/33.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/34.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/34.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/35.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/35.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/36.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/36.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/37.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/37.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/38.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/38.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/39.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/39.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/40.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/40.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/41.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/41.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/42.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/42.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/43.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/43.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/44.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/44.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/45.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/45.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/46.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/46.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/47.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/47.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/48.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/48.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/49.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/49.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/50.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/50.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/51.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/51.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/52.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/52.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/53.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/53.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/54.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/54.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/55.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/55.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/56.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/56.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/57.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/57.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/58.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/58.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/59.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/59.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/60.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/60.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/61.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/61.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/62.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/62.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/63.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/63.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/64.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/64.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/65.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/65.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/66.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/66.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/67.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/67.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/68.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/68.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/69.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/69.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/photo/70.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/photo/70.png' %}"alt="" width="275" height="190" />
                    </a>
                </p>
<!--/ bradcam_area  -->
                        <h2 class="footer_title">
                            Полезные ссылки
                        </h2>
                        <ul>
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li><a href="{% url 'about' %}">Фото</a></li>
                            <li><a href="{% url 'history' %}">История</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}