{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Рязанская область михайловский район<br />деревня Завидовка</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Рязанская область михайловский район<br />деревня Завидовка</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Рязанская область михайловский район<br />деревня Завидовка</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- about_area_start -->
<div class="about_area">
<!--    <div class="icon_1 d-none d-md-block">-->
<!--        <img src="{% static 'img/icon/1.png' %}" alt="">-->
<!--    </div>-->
<!--    <div class="icon_2 d-none d-md-block">-->
<!--        <img src="{% static 'img/icon/2.png' %}" alt="">-->
<!--    </div>-->
<!--    <div class="icon_3 d-none d-md-block">-->
<!--        <img src="{% static 'img/icon/3.png' %}" alt="">-->
<!--    </div>-->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_info_wrap">
                    <h3>Это сайт о деревне Завидовка</h3>
                    <span class="long_dash"></span>
                    <p>Деревня находится на юго-востоке от Москвы на расстоянии 205 км. Ближайший к деревне город — Михайлов — 23 км. Рядом с Завидовкой расположены 4 деревни: на северо-западе — Каморино на юго-западе — Красная Звезда и Курлышево на юго-востоке — Серебрянь и Горенка.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_img">
                    <div class="small_img">
                        <img src="{% static 'img/about/small13.png' %}" alt="">
                    </div>
                </div>

            </div>
                            <p>
                        <img src="{% static 'img/about/small9.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small11.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small12.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small10.png' %}" alt="" width="275" height="190">
                </p>



                    <p><br>В 2013—2014 годах в Завидовке была построена небольшая церковь.

В начале Центральной улицы располагается кирпичное здание почты. Рядом с ним есть общедоступный таксофон.

В деревне есть торговая палатка, обеспечивающая жителей необходимыми товарами.

                        На территории деревни есть 3 контейнера для мусора , несколько колодцев и колонок.
                         Вблизи деревни находятся два пруда. Небольшой пруд в начале Советской улицы и побольше в конце деревни на улице Крутовка.
                    </p>


                            <p><br />
                        <img src="{% static 'img/about/small1.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small7.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small6.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small5.png' %}" alt="" width="275" height="190">
                </p>

                                <p><br>В деревне три улицы: Советская, Центральная, Крутовка.

Протяжённость заасфальтированной дороги составляет 1,664 км. Завидовка со всех сторон окружена лесами — Малый лес, Большой лес, Хомут, Липов.
                    </p>

                                            <p><br />
                        <img src="{% static 'img/about/small4.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small8.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small3.png' %}" alt="" width="275" height="190">
                        <img src="{% static 'img/about/small4.png' %}" alt="" width="275" height="190">

            </div>

                      <br /><h3>Завидовка с высоты птичьего полета</h3><br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RjDGBHmFQUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                      </p><br /><h3>Расположение деревни на карте</h3><br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11085.359471036414!2d38.813592989356096!3d54.26132834412069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1674224982986!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <h3 class="footer_title">
                            Полезные ссылки
                        </h3>
                        <ul>
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li><a href="{% url 'about' %}">Фото</a></li>
                            <li><a href="{% url 'history' %}">История</a></li>
                        </ul>
   </div>

</div>

{% endblock %}